body {
  color: #727272;
  font-family: 'Raleway',Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #fff;
}

h1, h2, h3 {
  margin: 0 0 25px;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 40px;
}

.main {
  width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 15px;
}

/* header*/

header {
  top: 0;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  background: url(http://arielbeninca.com/Storage/Milky-Way-Galaxy-Over-Mountains.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#headercontent {
  padding-top: 40vh;
}

/* Parallax windows*/

.paralaxtext {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 100px;
}

.paralax1 {
  background: url(http://arielbeninca.com/Storage/forest-wallpaper-tumblr-3.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  padding: 50px 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.paralax2 {
  background: url(http://arielbeninca.com/Storage/1746699.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  padding: 50px 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.paralax3 {
  background: url(http://arielbeninca.com/Storage/1913098.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  padding: 50px 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* mouse anaimtion */

.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  border-radius: 15px;
  border: 2px solid white;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
}

.scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  border-radius: 4px;
  background: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
body {

  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

}

.parent2 {
  top:15px;
  left:15px;
  position:fixed;
 display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.test1 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
  .test4 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.mask2 {
  top:15px;
  left:15px;
  width:100px;
  height:100px;
  background:darkSlateGray;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}
